<!--End mc_embed_signup-->
<hr>
<div id="mc_embed_signup">
  <form  action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=TrailOfSparks', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <label for="mce-EMAIL">Email me new posts</label>
    <p><input type="text" style="width:140px; max-width:100%" name="email" value="Enter your email" onfocus="if(this.value=='Enter your email')this.value='';" onblur="if(this.value=='')this.value='Enter your email'" /></p>
    <input type="hidden" value="TrailOfSparks" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Bling!" />
  </form>
</div>
