<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  #index article p {
      font-size: 16px;
  }
  #index article p+p {
      margin-top: -1.625rem;
      text-indent: 1.625rem;
  }
</style>
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div class="article-author-side">
  {% include _author-bio.html %}
  {% include _subscribe-form.html %}
</div>

<div id="index">
  <h1>Recent Posts</h1>
  {% for post in site.posts limit:5 %}
  <article>
    <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }} {{ post.date | date: '%m/%d/%Y' }}</a></h2>
    <div class="article-wrap">
      {{ post.content }}
    </div>
    <hr />
  </article>
  {% endfor %}
  {% include _view-all-posts.html %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
